/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Example color */
  --foreground: #000000; /* Example color */
  font-family: [Clash Display];
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
